<div class="link-cont">
  <div class="fr-warpper">
    <div class="fr-link">
      <div class="fr-entry">
        <img src="~/images/icon.jpg" class="fr-img" />
        <a class="fr-name" href="https://felixxiong.github.io/">FelixXiong</a>
      </div>
      <div class="fr-des">
        <span>情绪泛滥 沉浸其中</span>
      </div>
    </div>
    <div class="fr-link">
      <div class="fr-entry">
        <img src="~/images/icon.jpg" class="fr-img" />
        <a class="fr-name" href="https://felixxiong.github.io/">FelixXiong</a>
      </div>
      <div class="fr-des">
        <span>情绪泛滥 沉浸其中</span>
      </div>
    </div>
  </div>
</div>