<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="菜鸡码农 | 个人博客" />
    <meta name="keyword" content="mikasyou" />
    <meta name="copyright" content="mikasyou" />
    <meta name="revisit-after" content="12 days" />
    <link rel="icon" href="~/favicon.ico" />
    <title itemprop="name">@ViewData["Title"]</title>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/dist/site.css?date=@(DateTime.Now.Ticks)" rel="stylesheet" />
</head>

<body>
    <div>
        <div class="root-container">
            <nav class="sidemenu" id="nav-sidemenu">
                <canvas id="animation-board"></canvas>
                <div class="me-avatarts">
                    <img class="thumb" src="~/avatar.png" id="nav-icon" />
                    <div class="name">Kaakira</div>
                    <div class="signature"><span></span></div>
                </div>
                <div class="menu" id="menu-routers">
                    <div>
                        <router data-href="/index"><i class="fa fa-home fa-fw"></i>首页</router>
                    </div>
                    <div name="Friend">
                        <router data-href="/links"><i class="fa fa-link fa-fw"></i>友链</router>
                    </div>
                    <div>
                        <router data-href="/about"><i class="fa fa-lightbulb-o fa-fw"></i>关于</router>
                    </div>
                </div>
            </nav>
            <div id="root">
                <div class="content-container" style="opacity:1">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <script src="~/dist/site.js?date=@(DateTime.Now.Ticks)"></script>
</body>

</html>
